* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
  color: #332d33;
}

.container {
  border: 1px solid #332b33;
  margin: 0px 100px;
  position: relative;
  border-top-width: 10px;
}

.border-box {
  background-color: #fff;
  padding: 0px 20px;
}

/* =============
Universal Custom Css Start
================ */

.all-links {
  font-size: 1.1rem;
  font-weight: bold;
  color: #332d33;
}

/* =============
Universal Custom Css END
================ */

/* Section 1 */
/* row 1 */

header {
  display: flex;
  justify-content: space-between;
}

.top-header-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.site-title {
  height: 70px;
  width: 40%;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.main-title-left {
  padding-right: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
}

.main-title-subtitle {
  font-family: "Quicksand", sans-serif;
  font-weight: light;
  font-size: 1.5rem;
}

.nav {
  height: 70px;
  width: 20%;
  background-color: #f9dbdb;
}

nav ul {
  list-style: none;
  padding: 0;
  font-size: 1.25rem;
}

/* row 2 */

.number-row2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box-r2 {
  height: 100px;
  width: 40%;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  align-items: center;
}

/* row 3 */

.box-r3 {
  height: 30px;
  width: 15%;
  margin: 10px auto 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* row 4 */

/* Ultimate Parent */
.row-4 {
  background-color: #f2f2f2;
  padding: 40px;
  height: 380px;
  width: 100%;
}

/* First Row Parent */
.row4-row1 {
  display: flex;
  align-items: center;
}

/* First row child */
.row-col-title {
  display: flex;
  width: 15%;
  height: 30px;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  justify-content: flex-end;
  align-items: center;
}

.row1-col-2 {
  display: flex;
  width: 40%;
  height: 50px;
  padding: 0px 10px;
}

.fill-width-text-box-1 {
  flex: 1;
  font-size: 2rem;
}

.small-brackets {
  font-size: small;
}

.row1-col-3 {
  width: 40%;
  height: 30px;
  font-size: 2rem;
  font-style: italic;
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #a6a6a6;
}

/* Second Row Parent */

.row4-row2 {
  margin-top: 20px;
  display: flex;
}

/* left Child Cols */
.row2-col-1 {
  background-color: #afadae;
  width: 25%;
  height: 30px;
}

/* right Parent cols PARENT */
.row2-col-2 {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  padding: 0px 10px;
  flex: 1;
}

/* the big box */
.row2-col-2-r1 {
  background-color: #afadae;
  width: 100%;
  height: 100px;
  display: flex;
}

.message {
  flex: 1;
  font-size: 1.5rem;
}

/* the next small row after the big box */
.row2-col-2-r2 {
  margin-top: 10px;
  width: 30%;
  height: 30px;
}

/* the last row PARENT */
.row3-col-2-r3 {
  margin-top: 20px;
  display: flex;
  align-content: flex-start;
  align-items: center;
}

/* column 1 of last row */
.row3-col-2-r3-c1 {
  width: 30%;
  height: 80px;
  display: flex;
  align-items: center;
}

.button-row3 {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  cursor: pointer;
  flex: 1;
}

/* column 2 of last row */
.row3-col-2-r3-c2 {
  padding-left: 20px;
  width: 45%;
  height: 40px;
  display: flex;
  align-items: center;
}

/* row 5 */

/* Tabs */

.tab {
  margin-top: 50px;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f2f2f2;
}

.tab button {
  background-color: inherit;
  float: left;
  border: 1px solid black;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

.row-5 {
  display: inline-flex;
  overflow: hidden;
}

.col-r5-left {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.box {
  margin: 0px 10px 0px 0px;
  border: 1px solid black;
  width: 200px;
  height: 50px;
}

.col-r5-right {
  margin-top: 100px;
}

.box-right {
  background-color: #afadae;
  height: 20px;
  width: 100px;
  margin-left: 400px;
}

/* section 2 */
/* top nav*/

.border-box-2 {
  background-color: #f9dbdb;
  border-top: none;
  width: 100%;
  padding: 20px 20px 0px 20px;
}

.rectangle-1-2 {
  height: 70px;
  width: 300px;
  background-color: #afadae;
  display: inline-block;
  overflow: hidden;
}

.rectangle-2-2 {
  height: 70px;
  width: 400px;
  background-color: #afadae;
  float: right;
}

/* content-1 */

.content-1 {
  margin-top: 20px;
}

.content1-col1-row1 {
  height: 30px;
  width: 200px;
  background-color: #afadae;
}

.content1-cols-row2 {
  display: flex;
  flex-flow: row;
}

.content1-col1-row2 {
  margin-top: 10px;
  height: 80px;
  width: 900px;
  background-color: #afadae;
  margin-right: 10px;
}

.content1-col2-row2 {
  flex: 1;
  margin-top: 10px;
  height: 80px;
  width: 50px;
  background-color: #afadae;
  margin-left: 10px;
}

.content1-col1-row3 {
  margin-top: 10px;
  height: 30px;
  width: 500px;
  background-color: #afadae;
}

/* content-2 */

.content-2 {
  margin-top: 20px;
  display: flex;
  flex-flow: row;
}

.content2-row {
  flex: 1;
  height: 80px;
  width: 50px;
  background-color: #afadae;
}

/* content-3 */

.content-3 {
  margin-top: 20px;
}

/* content-4 */

.content-4 {
  margin-top: 20px;
  float: right;
}

.content4-col1-row1 {
  height: 30px;
  width: 200px;
  background-color: #afadae;
  right: 0px;
}

.content4-col1-row2 {
  margin-top: 10px;
  height: 80px;
  width: 900px;
  background-color: #afadae;
  margin-right: 10px;
}

/* content-5 */
.content-5 {
  margin-top: 20px;
  display: inline-block;
}

.content5-col1-row1 {
  height: 30px;
  width: 200px;
  background-color: #afadae;
}

.content5-col1-row2 {
  margin-top: 10px;
  height: 80px;
  width: 900px;
  background-color: #afadae;
  margin-right: 10px;
}

/* final footer */

footer {
  margin: 10px 100px;
}

.final-left {
  height: 20px;
  width: 200px;
  background-color: #afadae;
  display: inline-block;
}

.final-right {
  height: 20px;
  width: 500px;
  background-color: #afadae;
  float: right;
}
