/* =============
Universal Custom Css Start
================ */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1rem;
  font-family: "Quicksand", sans-serif;
  color: #332d33;
}

.main-container {
  margin: 0px 200px;
}

.container {
  border: 1px solid #332b33;
  margin: 0 auto;
  border-top-width: 10px;
}

.all-links {
  font-size: 1.1rem;
  font-weight: bold;
  color: #332d33;
}

span {
  font-weight: bold;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

/* =============
 Typography 
 ===============*/

/* Nothing to add here atleast for now */

/* =============
Section 1
================ */

.border-box {
  background-color: #fff;
  padding: 0px 20px;
}

header {
  display: flex;
  justify-content: space-between;
}

.top-header-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.site-title {
  height: 70px;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-title {
  display: flex;
  align-items: center;
}

.main-title-left {
  padding-right: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
}

.nav {
  height: 70px;
  width: 100%;
  max-width: 200px;
  background-color: #f9dbdb;
}

nav ul {
  list-style: none;
  padding: 0;
  font-size: 1.25rem;
}

@media (max-width: 905px) {
  .site-title {
    flex-direction: column;
  }

  .main-title {
    flex-direction: column;
    font-size: 1.2rem;
  }
}

/* row 2 */

.number-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-number {
  height: 100px;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  align-items: center;
}

@media (max-width: 905px) {
  .main-number {
    font-size: 2rem;
  }
}

/* row 3 */

.number-desc {
  height: 30px;
  width: 100%;
  max-width: 1500px;
  margin: 10px auto 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* row 4 */

/* Ultimate Parent */
.message-container {
  background-color: #f2f2f2;
  padding: 40px;
  width: 100%;
  max-width: 1500px;
}

.message-row1 {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1500px;
}

.row-col-title {
  width: 100%;
  max-width: 150px;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  align-items: center;
}

.row1-col-2 {
  display: flex;
  width: 100%;
  padding: 0px 10px;
  align-items: center;
}

.fill-width-text-box-1 {
  font-size: 2rem;
}

.small-brackets {
  font-size: small;
}

.row1-col-3 {
  margin-left: 10px;
  display: flex;
  width: 100%;
  max-width: 300px;
  font-size: 1.3rem;
  font-style: italic;
  align-items: center;
  font-weight: bold;
  color: #a6a6a6;
}

@media (max-width: 905px) {
  .message-row1 {
    display: inline-block;
  }

  .row1-col-2 {
    display: block;
    padding: 10px 0px;
  }

  .row1-col-3 {
    margin-left: 0px;
    padding-top: 10px;
  }
}

/* Second Row Parent */

.row4-row2 {
  margin-top: 20px;
  display: flex;
}

/* left Child Cols */
.row2-col-1 {
  background-color: #afadae;
  width: 25%;
  height: 30px;
}

/* right Parent cols PARENT */
.row2-col-2 {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  padding: 0px 10px;
  flex: 1;
}

/* the big box */
.row2-col-2-r1 {
  background-color: #afadae;
  width: 100%;
  height: 100px;
  display: flex;
}

.message {
  flex: 1;
  font-size: 1.5rem;
}

/* the next small row after the big box */
.row2-col-2-r2 {
  margin-top: 10px;
  height: 30px;
}

/* the last row PARENT */
.row3-col-2-r3 {
  margin-top: 20px;
  display: flex;
  align-content: flex-start;
  align-items: center;
}

/* column 1 of last row */
.row3-col-2-r3-c1 {
  height: 80px;
  display: flex;
  align-items: center;
}

.button-row3 {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  cursor: pointer;
  flex: 1;
}

/* column 2 of last row */
.row3-col-2-r3-c2 {
  padding-left: 20px;
  height: 40px;
  display: flex;
  align-items: center;
}

@media (max-width: 905px) {
  .row4-row2 {
    display: block;
  }

  .row2-col-2 {
    padding: 10px 0px;
    display: block;
  }
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

/* =============
Section 2
================ */

.border-box-2 {
  border-top: none;
  width: 100%;
  margin-top: 50px;
  padding: 0px 0px;
}

/* Tabs */

.tab {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}

.left-tabs button {
  background-color: inherit;
  float: left;
  border: 1px solid #bfbfbf;
  border-bottom: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 1.1rem;
}

.tablinks {
  margin-left: 20px;
}

.tablinks:focus {
  background-color: #f7f7f7;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #f7f7f7;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #f7f7f7;
}

.right-tabs {
}

@media (max-width: 905px) {
  .tab button {
    font-size: 0.7rem;
    padding: 10px 10px;
  }

  .right-tabs .all-links {
    font-size: 0.8rem;
  }
}

/* =============================================== */

.tabcontent {
  background-color: #f7f7f7;
  border-top: 1px solid #bfbfbf;
  padding: 20px 20px;
}

.row-5 {
  display: inline-flex;
  overflow: hidden;
}

.col-r5-left {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.box {
  margin: 0px 10px 0px 0px;
  border: 1px solid black;
  width: 200px;
  height: 50px;
}

.col-r5-right {
  margin-top: 100px;
}

.box-right {
  background-color: #afadae;
  height: 20px;
  width: 100px;
  margin-left: 400px;
}

/* top left for tab*/

.top-header-row-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-left-section2 {
  display: flex;
  align-items: center;
}

.rectangle-1-1 {
  overflow: hidden;
  font-size: 2rem;
}

.rectangle-1-2 {
  padding-left: 20px;
}

.top-right-section2 {
  font-style: normal;
  color: #404040;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.new-link {
  font-size: 2rem;
}

@media (max-width: 905px) {
  .rectangle-1-1 {
    font-size: 1rem;
  }

  .rectangle-1-2 a {
    font-size: 0.8rem;
  }

  .top-right-section2 a,
  .top-right-section2 .small-brackets {
    font-size: 0.8rem;
  }
}

/*================
 content1 - textarea (New Text Message) and links to attach
 =================*/

.new-text-message {
}

.heading-message {
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: bolder;
}

.content1-cols-row2 {
  display: flex;
}

.content1-col1-row2 {
  margin-top: 10px;
  height: 80px;
  width: 80%;
  background-color: #afadae;
  margin-right: 10px;
  display: flex;
}

.content1-col1-row2 textarea {
  flex: 1;
}

.content1-col2-row2 {
  display: flex;
  margin-top: 10px;
  background-color: #afadae;
  margin-left: 10px;
}

.content1-col2-row2 button {
  flex: 1;
}

.content1-col-row3 {
}

@media (max-width) {
  .content1-col-row3 {
    margin-top: 10px;
  }
}

/* content-2 */

.content2-blockquote {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.content2-blockquote p {
  text-align: center;
}

/*===========
 content-3 - Reusable
 ============*/

.content3-conv1 {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.conv-number {
  font-weight: bolder;
  font-size: 1.2rem;
}

.conv-day {
  padding-right: 10px;
  font-weight: lighter;
  color: #a6a6a6;
  font-size: 1.2rem;
}

.conv-message-main {
  margin: 20px;
}

.conv-message {
  font-weight: 800;
  background-color: #d9d9d9;
  width: 80%;
  padding: 15px;
  display: flex;
  position: relative;
  font-size: 1.1rem;
}

.sb1:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #d9d9d9;
  border-top: 10px solid #d9d9d9;
  border-bottom: 10px solid transparent;
  left: -19px;
  top: 0px;
}

/* content-4 */

.content4-conv2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
}

.content4-conv2 .conv-number {
  display: flex;
  justify-content: flex-end;
}

.content4-conv2 .conv-number {
  display: flex;
  justify-content: flex-end;
}

.content4-conv2 .conv-number .conv-day {
  padding-left: 10px;
}

.content4-conv2 .conv-message-main {
  display: flex;
  justify-content: flex-end;
}

.content4-conv2 .conv-message-main .sb2:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #d9d9d9;
  border-right: 10px solid transparent;
  border-top: 10px solid #d9d9d9;
  border-bottom: 10px solid transparent;
  right: -19px;
  top: 0px;
}

/* content-5 */

.content5-conv3 {
}

/* Content-6 */

.content6-conv4 {
}

/* Content-7 */

.content7-conv3 {
}

/* content-8 */

.content8-conv4 {
}

/* content-9 block quote */

.content9-blockquote {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 10px;
  display: block;
  text-align: center;
}

.content9-blockquote .all-links {
  font-size: 1.5rem;
}

.content9-blockquote p {
}

@media (max-width: 905px) {
}

/* tabcontent - 3 */

.tabcontent-3 {
}

.tabcontent-3 .top-header-row-2 .top-left-section2 {
  width: 100%;
  max-width: 1500px;
  display: block;
  font-weight: bold;
}

.line {
  margin-top: 2px;
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
}

/* ============================= */

.main-content-tab-3 {
  width: 100%;
  margin-top: 50px;
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto;
  justify-content: space-between;
  column-gap: 50px;
  row-gap: 50px;
}

.grid-item {
  background-color: white;
  width: 100%;
  height: 220px;
  border: 1px solid #acacac;
}

.grid-image {
  margin: 10px 10px 0px 10px;
  height: 150px;
}

.grid-text {
  margin: 0px 10px;
}

.grid-text-number {
  font-weight: bold;
  font-size: 1.2rem;
}

.grid-timeline {
  color: #acacac;
  margin-top: 2px;
  font-size: 1rem;
}

.content-tab-3-blockquote {
  margin-top: 50px;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

@media (max-width: 905px) {
  .main-content-tab-3 {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    justify-content: space-between;
    column-gap: 20px;
    row-gap: 20px;
  }

  .grid-item {
    background-color: white;
    width: 100%;
    height: 220px;
    border: 1px solid #acacac;
  }

  .top-left-section2 .rectangle-1-1 {
    font-size: 1.5rem;
    font-weight: bold;
  }
}
/* =========================== */
/* final footer */
/* =========================== */

footer {
  margin: 2px 0px;
  font-size: 0.9rem;
  font-weight: bold;
}

.final-left {
  display: inline-block;
}

.final-right {
  float: right;
  display: flex;
}

.final-right .all-links {
  font-size: 0.9rem;
}

@media (max-width: 905px) {
  .footer {
    font-size: 0.5rem;
  }

  .final-right {
    font-size: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .final-right .all-links {
    display: flex;
    justify-content: flex-end;
    font-size: 0.8rem;
  }
}
